body{
    background-image:radial-gradient(dimgrey,White);
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}
header{
    padding: 0;
    margin: 0;
    height: 250px;
    width: 100%;
    display: flex;
    position: absolute;
    top: 30px;
    left: 0;
    background-image:linear-gradient(grey,black) ;
}
header h2{
    text-align: center;
    left: 46%;
    top: 50px;
    position: absolute;
    color: #ffffff;
    font-size: 50px;
}
nav{
    display: inline-block;
    padding: 0;
    width: 100%;
    height: 50px;
    margin: 0;
    position: fixed;
    top: 0;
    background-image:linear-gradient(rgb(44, 44, 44),#161616) ;  
    color: #ffffff; 
}
main{
    margin-left: auto;
    margin-right: auto;
    margin-top: 280px;
    display: block;
    width: 800px;
    background-color: #ffffff;
}
footer{
    position: absolute;
    background-image:linear-gradient(rgb(44, 44, 44),#161616) ;
    color:#ffffff;
    width:100%;
    height: 100px;
    text-align: center;
    line-height: 100px; 
}
nav img{
    margin: 5px;
    margin-left: 15px;
    width: 40px;
    position: relative;
    display: inline-block;
}
nav ul li{
    display: inline-block;
    position: relative;
    margin-left: 30px;
    color: #ffffff;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    
}
nav ul{
    top:0;
    position: inherit;
    display: inline-flex;
}
a{
    text-decoration: none;
    color: #ffffff;
}
a:hover{
    color:lime;
}
#titulo{
    display: inline-flex;
    top: -20px;
    position: relative;
    color: #ffffff;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}
input{
    width: 100px;
}
article{
    color: rgb(62, 48, 48);
    border: 0px;
    font-size: 20px;
    color: gray;
    margin-bottom: 30px;
    font-family: calibri;
    
}
main h4{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    margin-top: 10px;
    position: relative;
}
main h3{
 color:rgb(231, 116, 116);
 font-family: Arial, Helvetica, sans-serif;
 margin-left:10px;
}
.input{
    left: 700px;
    position: absolute;
    border-radius: 50px;
    height: 20px;
    width: 170px;
}
#iconb{
    width: 17px;
    left: 1540px;
    position: absolute;
}